<!-- <mat-toolbar color="primary" class="footer">
  <span>
    <ul>
      <li>
        <p>© 2022 Diego Borjas</p>
      </li>
      <li>
        <a href="https://github.com/DiegoABorjas" target="_blank" rel="noopener noreferrer">
        <img class="icon" src="../../assets/social icons/github-svgrepo-com.svg" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/diego-borjas-gonzalez-aa746aa2/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/social icons/linkedin-svgrepo-com.svg" />
        </a>
      </li>
    </ul>
  </span>
</mat-toolbar> -->
