h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
  padding-top: 4em;
}

p {
  color: white;
  text-align: center;
}

body {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

button {
  height: 40px;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -100px;
  position: absolute;
}

.footer {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  gap: 10px;
}
